{% extends "website/base.html" %}
{% load static %}

{% block nav-about %}active{% endblock %}

{% block title %}
    About | MetaSat
{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">
        
        <div class="newsidebar d-none d-sm-none d-md-block col-lg-3 col-md-3 col-12">
            <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="about-tab"  href="/about" tabindex=0 role="tab" aria-controls="about" aria-selected="true">About</a>
                    </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <br/>
                    <table class="table">
                        <tr>
                            <td><a href="#introduction">Introduction</a></td>
                        </tr>
                        <tr>
                            <td><a href="#metadata">Why Metadata</a></td>
                        </tr>
                        <tr>
                            <td><a href="#using-metasat">Using MetaSat</a></td>
                        </tr>
                        <tr>
                            <td><a href="#work">Our Work So Far</a></td>
                        </tr>
                         <!--<tr>
                            <td><a href="#LSTN">Library Space Technology Network</a></td>
                        </tr>-->

                    </table>


                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-9 offset-md-3" id="content">
            <div class="mainstuff">

                <a name="introduction" class="anchor"></a>
                <h1>Introducing MetaSat</h1>
                
                <p>The MetaSat team is working to create a metadata vocabulary to describe satellite missions and a set of tools to make the vocabulary easy and seamless to implement. The MetaSat vocabulary is specifically optimized for small satellite (SmallSat) missions. This work will help facilitate information sharing between missions and lower the barrier of entry into the field.</p>

                <a name="metadata" class="anchor"></a>
                <h2><strong>Why metadata?</strong></h2>
                <p>Metadata is most simply defined as data about data. For example, a book contains data: the words on the page. The metadata is information about the book, such as the title, author, page count, publisher, and more. Space missions also produce data—for example, the information a satellite collects and sends back to earth. On the other hand, the mission's metadata might include information about the satellite’s components, people and organizations involved with the mission, the launch date, and information about ground stations that communicate with the spacecraft.</p>
                <p>Right now, space mission metadata is recorded in many different ways, which makes it hard for different teams to talk to each other, collaborate, or share advice about what works or doesn’t work in SmallSat missions. Our goal with MetaSat is to create a tool kit that can be shared and expanded upon to respond to and anticipate our community’s needs.</p>

                <a name="using-metasat" class="anchor"></a>
                <h2><strong>Using MetaSat</strong></h2>
                <p>The MetaSat vocabulary is the core of the MetaSat project. The MetaSat vocabulary is a list of unique concepts that can be used to describe spacecraft, missions, ground stations, and more, each with a unique, permanent URI. A URI, or Uniform Resource Identifier, acts as a machine-readable identifier for the concept. The MetaSat vocabulary and its URIs can be used to describe missions both in private databases and on the web; since each concept uses its own URI, the vocabulary can be used for linked data applications and schemas that use any format  of the <a href="https://schema.space/resources/linked-data">RDF data model</a>, including RDF-XML, Turtle, N-Triples, and more. </p>

                <p>We recommend using the MetaSat vocabulary with <a href="https://json-ld.org/">JSON-LD</a>, a highly flexible form of RDF that is built to be easily human-writable and machine-readable. To illustrate how JSON-LD can be used with MetaSat, our GitLab repository has multiple <a href="https://gitlab.com/metasat/metasat-toolkit/-/tree/master/examples">example files</a> that describe real missions. They include descriptions of satellites, satellite parts, and missions, as well as ground stations and observations. These files can be used to inspire your own use of JSON-LD with MetaSat. For more information about how to use MetaSat, JSON-LD and RDF, check out our <a href="https://schema.space/resources/basic-topics">metadata guide</a>.</p>

                <p>The final part of the MetaSat toolkit involves an extensive crosswalk to many other metadata standards, dictionaries, and more. The crosswalks can be used to give each concept richer meaning, to better incorporate other linked data vocabularies, and to crosswalk to other standards and existing databases.</p>

                <a name="work" class="anchor"></a>
                <h2><strong>Our work so far</strong></h2>
                <p>The Wolbach library is working closely with the <a href="https://libre.space/">Libre Space Foundation</a> (LSF) to create MetaSat. LSF has direct experience working on SmallSat missions and runs SatNOGS, a global network of ground stations that collects satellite observations and stores them in a database. The&nbsp;<a href="https://network.satnogs.org/">SatNOGS Network</a>&nbsp;stores information about both the ground stations in the network and their observations, and the SatNOGS database (<a href="https://db.satnogs.org/">SatNOGS DB</a>) stores information about active satellites. SatNOGS is one of the earliest adopters of MetaSat and has already incorporated MetaSat concepts into its APIs.</p>
                <p>Interested in learning about what we're doing next, or contributing to the future of MetaSat? Visit&nbsp;<a href="https://gitlab.com/metasat/metasat-toolkit">our GitLab repository</a>&nbsp;and submit an issue, or email us at metasat[at]schema.space.</p>

                <!-- <h2 id="LSTN"><strong><a href="https://lstn.wolba.ch/">Library Space Technology Network (LSTN)</a></strong></h2>
                <p>To engage novices with MetaSat, we are installing open satellite ground stations at five public libraries. Installing ground stations in different library settings will enable our team to get feedback from novices on Libre Space's implementation of MetaSat, and supplement feedback from people already participating in small satellite missions. Libraries participating in our pilot will also help us plan for educational programs and resources to go with the ground stations. We plan to expand LSTN pending the success of our pilot.</p> -->

                <br/><br/>
                <img src="{% static 'website/img/sloan.png' %}" alt="Alfred P. Sloan Foundation" width="285" height="81" class="img-fluid" />
                <p>Funding for MetaSat is provided by the Alfred P. Sloan Foundation through&nbsp;<a href="https://sloan.org/grant-detail/8955">a grant</a>&nbsp;awarded to the John G. Wolbach Library at the Center for Astrophysics and the Libre Space Foundation.</p>
                <br/><br/>

            {% include "website/footer.html" %}
            
            </div>
            <!-- end mainstuff -->
                    
        </div>
    </div>
</div>

{% endblock %}