{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pg metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block metadata %}{% endblock %}

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- autocomplete -->
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script>
    <link rel="stylesheet" href="{% static 'website/css/metasat_autocomplete.css' %}">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'website/img/flavicon.png' %}">

    <!-- additional css -->
    <link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">
    {% block customcss %}{% endblock %}
    
    <!-- pg title -->
    <title>{% block title %}{% endblock %}</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img class="img-fluid" style="height:58px" src="{% static 'website/img/MetaSat_Big.png' %}" alt="MetaSat logo"/>
            <a class="navbar-brand" href="/"><span class="h1">&nbsp;&nbsp;MetaSat</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link sr-only sr-only-focusable" href="#content">Skip to main content</a>
                    </li>
                    <li class="nav-item {% block nav-home %}{% endblock %}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {% block nav-elements %}{% endblock %}">
                        <a class="nav-link" href="/metasat">Concepts</a>
                    </li>
                   <li class="nav-item {% block nav-crosswalk %}{% endblock %}">
                        <a class="nav-link" href="/crosswalk">Crosswalk</a>
                    </li>                    
                    <li class="nav-item {% block nav-about %}{% endblock %}">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item {% block nav-resources %}{% endblock %}">
                        <a class="nav-link" href="/resources">Resources</a>
                    </li>
                    <li class="nav-item {% block nav-contact %}{% endblock %}">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    
                    {% if request.user.is_authenticated %}

                        <li class="nav-item dropdown {% block nav-lout %}{% endblock %}">
                            <a class="nav-link dropdown-toggle" href="/account" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/account">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    {% endif %}

                </ul>          

                <form action="/metasat" class="form-inline" role="search">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="hidden" name="view" value="search">
                            <label for="search-input" class="sr-only">MetaSat terms</label>
                            <input type="text" class="form-control-sm" name="lookup" placeholder="MetaSat Concept">
                        </div>
                        <button type="submit" class="btn btn-outline-light btn-secondary btn-sm mb-2" style="background-color: #4e687e">Find</button>
                </form>

             </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}    


<!-- autocomplete javascript, move to new file -->
<script>
$(document).ready(function(){

    $("#metasat-autocomplete").uatAutocomplete()

    $("#metasat-autocomplete").on("keyup", function(){
        if (event.keyCode === 13) {
            var thisword = $("#metasat-autocomplete").val();
            event.preventDefault();
            parent.location='../metasat/' + thisword;
        }
    });

    $("#autocompletebutton").on("click", function(){
        var thisword = $("#metasat-autocomplete").val();
        event.preventDefault();
        parent.location='../metasat/' + thisword;
    });
});
</script>

</body>
</html>