{% extends "website/base.html" %}
{% load static %}

{% block nav-resources %}active{% endblock %}

{% block title %}
    Resources | MetaSat
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">

        <div class="newsidebar d-none d-sm-none d-md-block col-lg-3 col-md-3 col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="resources-tab"  href="/resources" tabindex=0 role="tab" aria-controls="resources" aria-selected="true">Resources</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="resources" role="tabpanel" aria-labelledby="resources-tab">
                    <br/>
                    <table class="table">
                        <tr>
                            <td><a href="#introduction">Introduction</a></td>
                        </tr>
                        <tr>
                            <td><a href="#primer">MetaSat Primer</a></td>
                        </tr>
                        <tr>
                            <td><a href="#external">External Resources</a></td>
                        </tr>
                        <tr>
                            <td><a href="#tools">Tools</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    <div class="col-sm-12 col-md-9 offset-md-3" id="content">
        <div class="mainstuff">
            <a name="introduction" class="anchor"></a>
            <h1>Resources</h1>
            <br />

            <div> <!--div for cards and footer-->
                <p>On this page, you will find a number of resources to help make implementing MetaSat easier. These resources include guides written by the MetaSat team and external sites that we think are helpful. For feedback, clarification, and requests, please submit an issue to <a href="https://gitlab.com/metasat/metasat-toolkit">our GitLab repository</a>.</p>
                <br />

                <a name="primer" class="anchor"></a>
                <h2>MetaSat Primer</h2>
               
                    <div class="card-deck"> <!--MetaSat Primer cards-->
                        
                        <div class="card"> <!--card 1, Getting Started-->
                            <!--this is where an image would go-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="/resources/basic-topics">Getting Started With MetaSat</a></h3>
                                <p class="card-text">MetaSat has three main components: a vocabulary, a crosswalk, and a set of example schemas. Find out more about each here.</p>
                            </div>
                        </div>
                   
                        <div class="card"> <!--card 2, advanced topics-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="/resources/advanced">Beyond the Basics</a></h3>
                                <p class="card-text">Here, you will find advanced information on JSON-LD. Tips for using the <code>@context</code> section and information about JSON-LD's four transforming algorithms are included.</p>
                            </div>
                        </div> 
                    </div>   
                    
                    <div class="card-deck">       
                        <div class="card"> <!--card 3, RDF primer-->
                            <!--this is where an image would go-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="resources/linked-data">Linked Data and RDF</a></h3> <!--card 1, linked data-->
                                <p class="card-text">If you are unfamiliar with Linked Data or the Resource Description Framework (RDF) and you want to know how you can use them to improve your data's value and discoverability, start here.</p>
                            </div>
                        </div>

                        <div class="card"> <!--card 3, RDF primer-->
                            <!--this is where an image would go-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="resources/url-semantic-web">URLs and the Semantic Web</a></h3> <!--card 2, URLs and the semantic web-->
                                <p class="card-text">Why do linked data vocabularies put so much emphasis on unique, persistent URLs? It's because semantic web technologies use URLs in a different way than people do; find out more on this page.</p>
                            </div>
                        </div>
                    
                    </div>

                <br />
                <a name="external" class="anchor"></a>
                <h2>External Resources</h2>

                    <div class="card-deck"> <!--LD resources cards-->
                        <div class="card"> <!--card 1, W3C page-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="https://www.w3.org/standards/semanticweb/data">W3C resources</a></h3>
                                <p class="card-text">This link will take you to the World Wide Web Consortium's page on linked data and the semantic web.</p>
                            </div>
                        </div>

                        <div class="card"> <!--card 2, 5 star open data-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="https://5stardata.info/en/">5 Star Open Data</a></h3>
                                <p class="card-text">High quality linked open data allows your data to be more valuable and discoverable. This site provides more information about how to make sure your data is open and discoverable on the web.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-deck">
                        <div class="card"> <!--card 3, JSON-LD playground-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="https://json-ld.org/playground/">JSON-LD Playground</a></h3>
                                <p class="card-text">Built and maintained by the W3C JSON-LD group, the JSON-LD playground can act as a JSON-LD validator. The playground can confirm that the links between topics in your file are correct, and can run the <a href="/resources/advanced#algorithms">four transformation algorithms</a>.</p>
                            </div>
                        </div>
                    
                        <div class="card"> <!--card 4, JSONLint-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="https://jsonlint.com/">JSONLint</a></h3>
                                <p class="card-text">JSONLint is a JSON validator. You can start here to make sure your syntax is correct, then put your code into the JSON-LD playground to make sure your connections are working as you intend.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <br />

                <a name="tools" class="anchor"></a>
                <h2>Tools</h2>
                    <div class="card-deck"> <!--Tools cards-->
                        <div class="card"> <!--card 1, sorting tool-->
                            <!--this is where an image would go-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="http://metasat.schema.space/">Sorting Tool</a></h3>
                                <p class="card-text">Our sorting tool can be used to visualize relationships between MetaSat terms.</p>
                            </div>
                        </div>


                        <div class="card"><!--card 2, examples GitLab-->
                            <div class="card-body">
                                <h3 class="card-title"><a href="https://gitlab.com/metasat/metasat-toolkit/-/tree/master/examples">Example files</a></h3>
                                <p class="card-text">This folder of our GitLab repository contains several example files that use MetaSat to describe various parts of a space mission. Right now, most of the examples concern either <a href="https://satnogs.org/">SatNOGS</a> or <a href="https://lstn.wolba.ch/">LSTN</a>.</p>
                            </div>
                        </div>
                    </div>
    
                <br />
                
                <p><em>For more, see <a href="https://gitlab.com/metasat/metasat-toolkit">our GitLab repository</a> or contact us at <a href="mailto:metasat@schema.space?subject=MetaSat question">metasat[at]schema.space</a>.</em></p>
            </div>

            {% include "website/footer.html" %}

        </div>
          
        
        </div>

      </div>
      <!-- end mainstuff -->

{% endblock %}