{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block description %}{{element.term}}: {{element.desc}}{% endblock %}

{% block title %}{{element.identifier}} | MetaSat{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-12"><br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img width="100%" src="{% static 'website/img/MetaSat_Big.png' %}"/>
        </div>
        <div class="col-1">
        </div>
        <div class="col-8" id="content">
            <h1>{{element.identifier}}</h1>
            <h3>{{element.term}}</h3>
            <br/>
            <form action="{% url 'update' %}" method="post">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-9">
                    {{ elform|crispy }}
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        {{ famcomp|crispy }}                        
                    </div>
                    <div class="form-group col-md-1">
                                           
                    </div>
                    <div class="form-group col-md-4">
                        {{ segcomp|crispy }}
                    </div>
                </div>

            <br/>
            <h3>Crosswalk Identifiers</h3>

                {{ exelformset.management_form }}
                {% for form in exelformset %}
                
                <div class="form-row">
                    
                    <div class="form-group col-md-9">
                    =================================
                    {{ form|crispy }}

                    </div>

                </div>
                {% endfor %}

                <input type="hidden" name="elid" value="{{element.id}}">
                <button type="submit" class="btn btn-primary">Save</button>
            </form>


        <br/><br/><br/>
        <button type="submit" class="btn btn-danger">Deprecat Concept [nyi]</button>

        </div>

    </div>



    <br><br>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div id="footer">
              <div class="container text-center">
                <br/><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}