{% extends "website/base.html" %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Elements | MetaSat
{% endblock %}

{% block body %}

<style>

div .topmenu {
  background-color: white;
}

span.anchor {
    display: block;
    position: relative;
    top: -240px;
    visibility: hidden;
}

div.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 180px;
    /*border: 3px solid black;*/
    padding: 0px;
    background-color: #fff;
}

</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" id="rel">
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script> 



    <div class="container">
        <div background-color="white" class="topmenu row position sticky-top">

            <div class="col-2">
                <br/>&nbsp;<br/>&nbsp;
                <img class="img-fluid" src="{% static 'website/img/MetaSat_Big.png' %}"/>
            </div>

            <div class="col-1">
            </div>

            <div class="col-9">
                <br/>&nbsp;<br/>&nbsp;
                <h1>MetaSat Elements by Element Family</h1>
                <br/><br/>
            </div>
        </div>

        <div class="row">

            <div class="col-3">
<!--                 <br/><br/>
                <a href="../metasat" class="button btn btn-info">alphabetical view</a>
                <br/><br/>
                <a href="../metasat/segments" class="button btn btn-info">segment view</a>
                -->         
                <div class="sidebar">
                    <br/><br/>
                <h5>Element Families</h5>
                <ul>
                    {% for y in fams %}
                        <li><span style="cursor:pointer;" class="text-primary" onclick='document.getElementById("{{y}}").scrollIntoView(true);'>{{y}}</span></li>
                    {% endfor %}

                </ul>
            </div>
            </div>


                <div class="col-6"><br/>
                {% for key, values in fams.items %}

                    <span class="anchor" id="{{key}}"></span>{{key}}
                        <table class=table>
                        
                            {% for v in values %}
                                
                                <tr>
                                    <td><a href="/metasat/{{v.identifier}}">{{v.identifier}}</a></td>
                                </tr>
                                
                            {% endfor %}
                    </table>
                {% endfor %}
                 
            </div>
        </div>





    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div id="footer">
              <div class="container text-center">
                <br/><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              </div>
            </div>
        </div>
    </div>

        </div>




{% endblock %}