{% extends "website/base.html" %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Elements | MetaSat
{% endblock %}

{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" id="rel">
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script> 

    <!-- non mobile -->
    <div class="container-fluid d-none d-sm-none d-md-block">

        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-4 sidebar">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="alpha-tab"  href="/metasat" tabindex=0 role="tab" aria-controls="alpha" aria-selected="false">Alphabetical</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link{%if gtype == 'family'%} active{% endif %}" id="family-tab" href="/metasat?view=family" role="tab" aria-controls="family" aria-selected="{%if gtype == 'family'%}true{%else%}false{% endif %}">Families</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link{%if gtype == 'segment'%} active{% endif %}" id="segment-tab" href="/metasat?view=segment" role="tab" aria-controls="segment" aria-selected="{%if gtype == 'segment'%}true{%else%}false{% endif %}">Segments</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="{{gtype}}" role="tabpanel" aria-labelledby="{{gtype}}-tab">
                        <br/>
                        <div class="accordion" id="accordionExample">

                            {% for key, values in groups.items %}
                                <div class="card">
                                    <div class="card-header" id="{{key|cut:' '}}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left{% if key|cut:' ' != groupname|cut:' ' %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{key|cut:' '}}" aria-expanded="{% if key|cut:' ' != groupname|cut:' ' %}false{%else%}true{% endif %}" aria-controls="collapse{{key|cut:' '}}">{{key}}</button>
                                        </h2>
                                    </div>

                                    <div id="collapse{{key|cut:' '}}" class="collapse{% if key|cut:' ' == groupname|cut:' ' %} show{% endif %}" aria-labelledby="{{key}}" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class=table>
                                                {% for v in values %}
                                                    <tr>
                                                        <td id="{{v.identifier}}{{key|cut:' '}}"><a href="/metasat/{{v.identifier}}?{{gtype}}={{key|cut:' '}}">{{v.identifier}}</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                              </div>
                             {% endfor %}

                        </div>
                        <br/><br/>
                    </div>
                </div>

            </div>

            <div class="maincontent col-xl-9 col-lg-8 col-md-8 offset-xl-3 offset-lg-4 offset-md-4">
                <div class="mainstuff">

                    {% if element %}

                        <div id="content">
                            <h1>{% if element.deprecated == True %}Deprecated: {% endif %}{{element.identifier}}</h1>
                            <p class="h3">{% if element.deprecated == True %}Deprecated: {% endif %}{{element.term}}</p>
                            <a href="https://schema.space/metasat/{{element.identifier}}">https://schema.space/metasat/{{element.identifier}}</a>
                        </div>

                            {% if request.user.is_authenticated %}
                                <br/>
                                <a href="edit/{{element.identifier}}">(admin edit)</a>
                                <br/>
                            {% endif %}

                            {% if element.deprecated == True %}
                            <br/>
                            This element was deprecated on {{element.deprecatedon}}.
                            <br/>
                                {% if element.mapping.all %}
                                    <br/>Use Instead:
                                    {% for f in element.mapping.all %}<a href="/metasat/{{f.identifier}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                    <br/>
                                {% endif %}
                            <br/><br/>
                            <p class="h3">Legacy information</p>

                            {% endif %}

                            <br/>
                            <strong>Description:</strong> {% if element.desc == ""%}None{% else %}{{element.desc}}{% endif %}{% if element.source != None %} (<a href="{{element.source}}">source</a>){% endif %}
                            <br/><br/>
                            <strong>Example:</strong> {% if element.example == ""%}None{% else %}{{element.example}}{% endif %}<br/><br/>
                            <strong>Synonym(s):</strong> {% if element.synonym == ""%}None{% else %}{{element.synonym}}{% endif %}<br/><br/>
                            <strong>Element Segments:</strong>  {% for f in element.segment.all %}<a href="/metasat/{{element.identifier}}?segment={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/><br/>
                            <strong>Element Families:</strong>  {% for f in element.family.all %}<a href="/metasat/{{element.identifier}}?family={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}

                            <br/><br/>
                            <a href="mailto:metasat@schema.space?subject=suggestion: {{element.identifier}}">suggest an edit</a>

                            {% if crosswalks %}

                                <br/><br/><br/><br/>
                                <p class="h3">Crosswalk Identifiers</p>
                                <table width=75% class=table>
                                    {% for x in crosswalks %}
                                    <tr>
                                        <td><a href="/crosswalk/{{x.source.identifier}}">{{x.source}}</a></td>
                                        <td>{% if x.url != None %}<a href="{{x.url}}">{{x.identifier}}</a>{% else %}{{x.identifier}}{% endif %}</a></td></td>
                                    </tr>
                                    {% endfor %}
                                </table>

                            {% endif %}

                        {% elif gtype == "family" %}

                            <div id="content">
                                <h1>MetaSat Elements, by Family</h1>
                            </div>
                            <div style="width:80%">
                                <br/><br/>
                                On the left, the MetaSat elements have been organized into sections by their element family.  A family is a collection of conceptually related elements. These elements do not have any hierarchical structure, they are simply collected into groupings of related concepts.  You can also navigate to view elements alphabetically or by "segment."
                            </div>

                        {% elif gtype == "segment" %}

                            <div id="content">
                                <h1>MetaSat Elements, by Segment</h1>
                            </div>
                            <div style="width:80%">
                                <br/><br/>
                                On the left, the MetaSat elements have been organized into sections by their segments.  A segment represents concepts related to a specific phase of a satellite mission. These elements do not have any hierarchical structure, they are simply collected into groupings of concepts based on when or where they are relevant to an overall mission.  You can also navigate to view elements alphabetically or by "family."
                            </div>

                        {% else %}

                            <div id="content">
                                <h1>MetaSat Elements</h1>
                            </div>

                        {% endif%}
                    
                    </div>
                    <!-- end mainstuff -->

                    {% include "website/footer.html" %}

            </div>
        </div>
    </div>

    <!-- end non-mobile -->

    <!-- mobile -->

    <div class="container-fluid d-sm-block d-md-none">

        <div class="row">
            
            <div class="col-12 topspacing">
                <p class="h4">Browse MetaSat Elements</p>
                Here is some general explanitory text about metasat.
                <hr/>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-alpha-tab" data-toggle="pill" href="#v-pills-alpha" role="tab" aria-controls="v-pills-alpha" aria-selected="false">Alphabetically</a>
                    <a class="nav-link" id="v-pills-family-tab" data-toggle="pill" href="#v-pills-family" role="tab" aria-controls="v-pills-family" aria-selected="false">By Family</a>
                    <a class="nav-link" id="v-pills-segment-tab" data-toggle="pill" href="#v-pills-segment" role="tab" aria-controls="v-pills-segment" aria-selected="false">By Segment</a>
                </div>
                <hr/>

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-alpha" role="tabpanel" aria-labelledby="v-pills-alpha-tab">
                    <p class="h4">MetaSat Elements, Alphabetically</p>
                        The full alphabetical list of MetaSat elements is available below.  You can also navigate to view elements by "family" or by "segment."
                        <br/><br/>
                        <ul class="alpha">
                        {% for x in alphabet %}
                            <li tabindex=0 style="cursor:pointer;" class="text-primary mobileletter">{{x}}</li>
                        {% endfor %}
                        </ul>

                        <br/><br/><br/><br/> <!-- why 4 breaks? -->

                        <br/>
                        {% for x in alphabet %}
                            <span id="m{{x}}" class="anchor"></span>
                            <span style="width:50%;float:left" id="mletter{{x}}" tabindex=0>{{x|upper}}</span> <span class="text-right" style="width:50%;float:right"><img tabindex=0 class="totopimg" style="width:15px;cursor:pointer;" src="{% static 'website/img/totop1.png' %}"/>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <table class=table>
                                    {% for el in all_elements %}
                                        {% if el|make_list|first|lower == x %}
                                        <tr>
                                            <td id="{{el.identifier}}"><a id="{{el.identifier}}link" href="/metasat/{{el.identifier}}">{{el}}</a></td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                            </table>
                        {% endfor %}

                    </div>

                    <div class="tab-pane fade" id="v-pills-family" role="tabpanel" aria-labelledby="v-pills-family-tab">
                        family content
                    </div>
                    <div class="tab-pane fade" id="v-pills-segment" role="tabpanel" aria-labelledby="v-pills-segment-tab">
                        segment content
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12">

                {% if element %}

                    <div id="content">
                        <h1>{% if element.deprecated == True %}Deprecated: {% endif %}{{element.identifier}}</h1>
                        <h3>{% if element.deprecated == True %}Deprecated: {% endif %}{{element.term}}</h3>
                        <a href="https://schema.space/metasat/{{element.identifier}}">https://schema.space/metasat/{{element.identifier}}</a>
                    </div>

                    {% if request.user.is_authenticated %}
                        <br/>
                        <a href="edit/{{element.identifier}}">(admin edit)</a>
                        <br/>
                    {% endif %}


                    {% if element.deprecated == True %}
                        <br/>
                        This element was deprecated on {{element.deprecatedon}}.
                        <br/>
                            {% if element.mapping.all %}
                                <br/>Use Instead:
                                {% for f in element.mapping.all %}<a href="/metasat/{{f.identifier}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                <br/>
                            {% endif %}
                        <br/><br/>
                        <h3>Legacy information</h3>

                    {% endif %}

                    <br/>
                    <strong>Description:</strong> {% if element.desc == ""%}None{% else %}{{element.desc}}{% endif %}{% if element.source != None %} (<a href="{{element.source}}">source</a>){% endif %}
                    <br/><br/>
                    <strong>Example:</strong> {% if element.example == ""%}None{% else %}{{element.example}}{% endif %}<br/><br/>
                    <strong>Synonym(s):</strong> {% if element.synonym == ""%}None{% else %}{{element.synonym}}{% endif %}<br/><br/>
                    <strong>Element Segments:</strong>  {% for f in element.segment.all %}<a href="/metasat/{{element.identifier}}?segment={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/><br/>
                    <strong>Element Families:</strong>  {% for f in element.family.all %}<a href="/metasat/{{element.identifier}}?family={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}

                    <br/><br/>
                    <a href="mailto:metasat@schema.space?subject=suggestion: {{element.identifier}}">suggest an edit</a>

                    {% if crosswalks %}
                        <br/><br/><br/><br/>
                        <h3>Crosswalk Identifiers</h3>
                        <div class="table-responsive">
                            <table class=table>
                                {% for x in crosswalks %}
                                <tr>
                                    <td><a href="/crosswalk/{{x.source.identifier}}">{{x.source}}</a></td>
                                    <td>{% if x.url != None %}<a href="{{x.url}}">{{x.identifier}}</a>{% else %}{{x.identifier}}{% endif %}</a></td></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}

                {% endif%}
            
               
            {% include "website/footer.html" %}
            
            </div>
        </div>
    </div>

    <!-- end mobile -->






{% if element %}

<script>

$(document).ready(function(){

console.log("testing!");


    $("#{{element.identifier}}{{groupname}}").get(0).scrollIntoView();

    $("#{{element.identifier}}{{groupname}}").css("background-color","lightgrey");

     $("#{{element.identifier}}{{groupname}}").append('<span class="text-right" style="float:right"><img tabindex=0 class="totopimg" style="width:15px;cursor:pointer;" src={% static "website/img/totop1.png" %}></span>');

    $(".totopimg").on("keyup", function(){
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("{{groupname}}").scrollIntoView(true);
            $("#alpha-tab").focus();
        }
    });

    $(".totopimg").on("click", function(){
        event.preventDefault();
        document.getElementById("{{groupname}}").scrollIntoView(true);
        $("#alpha-tab").focus();
    });



});

</script>

{% endif %}

<script type="text/javascript">
    
    $('#v-pills-alpha-tab').click(function (e) {

        if ($(this).hasClass("active")) {
           
            $("#v-pills-alpha").removeClass('active');
            e.preventDefault();
            e.stopPropagation();
            $('#v-pills-alpha-tab').removeClass("active");//
            $('#v-pills-alpha-tab').attr("aria-selected", "false");

        }
    });

    $('#v-pills-family-tab').click(function (e) {

        if ($(this).hasClass("active")) {
           
            $("#v-pills-family").removeClass('active');
            e.preventDefault();
            e.stopPropagation();
            $('#v-pills-family-tab').removeClass("active");//
            $('#v-pills-family-tab').attr("aria-selected", "false");

        }
    });

    $('#v-pills-segment-tab').click(function (e) {

        if ($(this).hasClass("active")) {
           
            $("#v-pills-segment").removeClass('active');
            e.preventDefault();
            e.stopPropagation();
            $('#v-pills-segment-tab').removeClass("active");//
            $('#v-pills-segment-tab').attr("aria-selected", "false");

        }
    });
    
</script>

{% endblock %}