{% extends "website/base.html" %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Elements | MetaSat
{% endblock %}

{% block body %}

<style>

div .topmenu {
  background-color: white;
}

  a.anchor {
    display: block;
    position: relative;
    top: -185px;
    visibility: hidden;
}

div.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 160px;
    /*border: 3px solid black;*/
    padding: 0px;
    background-color: #fff;
}

</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" id="rel">
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script> 



    <div class="container">
        <div background-color="white" class="topmenu row position sticky-top">

            <div class="col-2">
                <img class="img-fluid" src="{% static 'website/img/MetaSat_Big.png' %}"/>
            </div>

            <div class="col-1">
            </div>

            <div class="col-9">
                <h1>MetaSat Elements</h1>
                  <br/>
                <form name="testing1">
                    <input type="text" id="uat-autocomplete-single" name="uatterm1"> <INPUT TYPE="button" value="Find" onClick="parent.location='http://schema.space/metasat/' + uatterm1.value">
                </form>

                    <script>
                        $("#uat-autocomplete-single").uatAutocomplete()
                    </script>
            </div>
        </div>

        <div class="row">

            <div class="col-4" style="top: 40px;bottom: 30px;">

              <div class="sidebar">
                <br/>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="alpha-tab" data-toggle="tab" href="#alpha" role="tab" aria-controls="alpha" aria-selected="true">Alphabetical</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="family-tab" data-toggle="tab" href="#family" role="tab" aria-controls="family" aria-selected="false">Families</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="segment-tab" data-toggle="tab" href="#segment" role="tab" aria-controls="segment" aria-selected="false">Segments</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="alpha" role="tabpanel" aria-labelledby="alpha-tab">
                  <br/>
                  {% for x in alphabet %}<a href="#{{x}}">{{x}}</a>&nbsp; &nbsp;{% endfor %}
                  <br/><br/>
                  <div style="overflow-y: scroll;">more content here?
                    <br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum, lectus in luctus pharetra, sem est ultrices metus, vel fringilla eros augue mollis lacus. Nam rutrum viverra neque, ut laoreet augue molestie non. Aenean suscipit rhoncus pharetra. Mauris commodo dictum volutpat. Nam id justo mi. Nullam tristique, elit id vehicula malesuada, neque nisl congue justo, et finibus dui augue vel felis. Sed ornare at ex nec blandit. Suspendisse tincidunt augue quis nulla dictum, nec sodales est sagittis. Nunc efficitur nunc augue, congue volutpat nisl blandit eget. Nam vitae turpis tristique, efficitur diam non, laoreet libero. Maecenas euismod lorem lectus. Donec euismod vitae nunc vitae vulputate. Proin cursus bibendum euismod. Sed augue ex, tempor eget mi sed, tempor sodales nunc. Fusce tempor orci eu felis dignissim elementum. Nunc in magna quis justo viverra efficitur ac at sem.
                    <br/><br/>
                    Donec dapibus orci eros, ut egestas diam vehicula ac. Vestibulum auctor quam sed dui hendrerit, non feugiat mi pharetra. Suspendisse vehicula neque eget lacinia egestas. Donec ac faucibus eros. Sed efficitur semper condimentum. Donec in hendrerit nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras neque libero, tempor non tristique sed, condimentum in erat. Aenean rutrum ipsum eget vehicula malesuada. Vestibulum ut faucibus felis. Etiam nec posuere augue.
                    <br/><br/>
                    Suspendisse nec feugiat felis, maximus gravida dolor. Ut elementum, risus ornare tempus suscipit, sapien metus ornare felis, et dignissim est orci et ante. Suspendisse felis lorem, congue quis aliquet non, convallis ut leo. Morbi nec sem ipsum. Aenean rutrum tincidunt lorem non gravida. Donec quis ante congue, tincidunt felis ut, auctor lacus. Nulla semper urna nec odio interdum semper.
                  </div>
                </div>
                <div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="family-tab">...</div>
                <div class="tab-pane fade" id="segment" role="tabpanel" aria-labelledby="segment-tab">...</div>
              </div>

              </div>


                <br/><br/>
                <a href="../metasat/families" class="button btn btn-info">family view</a>
                <br/><br/>
                <a href="../metasat/segments" class="button btn btn-info">segment view</a>
            </div>
<!-- 
            <div class="col-1">
            </div> -->


                <div class="col-6"><br/>

<!--                 {% for x in alphabet %}
                <a class="anchor" name="{{x}}"></a>{{x|upper}}
                <table class=table>
                    
                        {% for element in all_elements %}
                            {% if element|make_list|first == x %}
                            <tr>
                                <td><a href="/metasat/{{element.identifier}}">{{element.identifier}}</a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    
                </table>
                {% endfor %} -->
            </div>
        </div>





    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div id="footer">
              <div class="container text-center">
                <br/><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              </div>
            </div>
        </div>
    </div>

        </div>




{% endblock %}