{% extends "website/base.html" %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Elements | MetaSat
{% endblock %}

{% block body %}

<style>

div .topmenu {
  background-color: white;
}

  span.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" id="rel">
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script> 



    <div class="container">
        <div background-color="white" class="topmenu row position sticky-top">
            <div class="col-2">
                <br/>&nbsp;<br/>&nbsp;
                <img class="img-fluid" src="{% static 'website/img/MetaSat_Big.png' %}"/>
            </div>

            <div class="col-1">
            </div>

            <div class="col-9" id="content">
                <br/>&nbsp;<br/>&nbsp;
                <h1>MetaSat Elements</h1>
                <br/>
                {% for x in alphabet %}<span tabindex=0 style="cursor:pointer;" class="text-primary letter">{{x}}</span>&nbsp; &nbsp;{% endfor %}
                <br/><br/>
                <form name="testing1">
                    <input type="text" id="uat-autocomplete-single" name="uatterm1"> <INPUT TYPE="button" value="Find" onClick="parent.location='http://schema.space/metasat/' + uatterm1.value">
                </form>
                    <br/>
                    <script>
                        $("#uat-autocomplete-single").uatAutocomplete()
                    </script>
            </div>
        </div>

        <div class="row">

            <div style="position: relative;" class="col-2">
<!--                 <br/><br/>
                <a href="../metasat/families" class="button btn btn-info">family view</a>
                <br/><br/>
                <a href="../metasat/segments" class="button btn btn-info">segment view</a> -->
            </div>

            <div class="col-1">
            </div>


                <div class="col-6"><br/>

                {% for x in alphabet %}
                <span id="{{x}}" class="anchor"></span>
                <span id="letter{{x}}" tabindex=0>{{x|upper}}</span>
                <table class=table>
                    
                        {% for element in all_elements %}
                            {% if element|make_list|first == x %}
                            <tr>
                                <td><a href="/metasat/{{element.identifier}}">{{element.identifier}}</a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    
                </table>
                {% endfor %}
            </div>
        </div>





    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div id="footer">
              <div class="container text-center">
                <br/><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              </div>
            </div>
        </div>
    </div>

        </div>


<script>

$(document).ready(function(){

    $(".letter").on("keyup", function(){
        if (event.keyCode === 13) {
            thisletter = event.target.innerHTML;
            event.preventDefault();
            document.getElementById(thisletter).scrollIntoView(true);
            $("#letter"+thisletter).focus();
        }
    });


    $(".letter").on("click", function(){
        thisletter = event.target.innerHTML;
        event.preventDefault();
        document.getElementById(thisletter).scrollIntoView(true);
    });
});

</script>

{% endblock %}