{% extends "website/base.html" %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block title %}
    {% if element %}{{element.identifier}}{% else %}Concepts{% endif %} | MetaSat
{% endblock %}

{% block body %}

<span id="topm"></span>
<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">

        <!-- left side bar -->
        <div class="newsidebar col-xl-3 col-lg-4 col-md-4 col-12">

            <!-- non-mobile tabs -->
            <div class="d-none d-sm-none d-md-block">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link alpha-tab2 {%if gtype == 'alpha'%} active{% endif %}" id="alpha-tab" href="/metasat" tabindex=0 role="tab" aria-controls="alpha" aria-selected="{%if gtype == 'alpha'%}true{% else %}false{% endif %}">Index</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link family-tab2 {%if gtype == 'family'%} active{% endif %}" id="family-tab" href="/metasat?view=family" role="tab" aria-controls="family" aria-selected="{%if gtype == 'family'%}true{% else %}false{% endif %}">Families</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link segment-tab2 {%if gtype == 'segment'%} active{% endif %}" id="segment-tab" href="/metasat?view=segment" role="tab" aria-controls="segment" aria-selected="{%if gtype == 'segment'%}true{% else %}false{% endif %}">Segments</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link search-tab2 {%if gtype == 'search'%} active{% endif %}" id="search-tab" href="/metasat?view=search" role="tab" aria-controls="search" aria-selected="{%if gtype == 'search'%}true{% else %}false{% endif %}">Search</a>
                    </li>
                </ul>
            </div>
            <!-- end non-mobile tabs -->

            <!-- mobile pills -->
            <div class="d-sm-block d-md-none">
                
                <p class="h4">Browse MetaSat Concepts</p>
                    {% if element == "noelement" %}
                        The full list of MetaSat Concepts can be viewed alphabetically via the index view, or organized into two different types of groups: the concept families (conceptually related concepts) or the concept segments (concepts for a specific mission phase).
                    {% endif %}
                <hr/>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link alpha-tab {%if gtype == 'alpha'%} active{% endif %}" id="alpha-tab" data-toggle="pill" href="#alpha" role="tab" aria-controls="v-pills-alpha" aria-selected="false">By Index</a>
                    <a class="nav-link family-tab {%if gtype == 'family'%} active{% endif %}" id="family-tab" data-toggle="pill" href="#family" role="tab" aria-controls="v-pills-family" aria-selected="false">By Family</a>
                    <a class="nav-link segment-tab {%if gtype == 'segment'%} active{% endif %}" id="segment-tab" data-toggle="pill" href="#segment" role="tab" aria-controls="v-pills-segment" aria-selected="false">By Segment</a>
                    <a class="nav-link search-tab {%if gtype == 'search'%} active{% endif %}" id="search-tab" data-toggle="pill" href="#search" role="tab" aria-controls="v-pills-search" aria-selected="false">Search MetaSat</a>

                </div>
                <hr/>
            </div>
            <!-- end mobile pills-->

            <!-- content of tabs and pills -->
            <div class="tab-content">

                <!-- alpha -->
                <div class="tab-pane fade{%if gtype == 'alpha'%} show active{% endif %}" id="alpha" role="tabpanel" aria-labelledby="alpha-tab">

                    <div class="d-sm-block d-md-none">Browse by Index</div>

                    <ul class="alpha">
                        <br/>
                        {% for x in alphabet %}
                            <li tabindex=0 style="cursor:pointer;" class="text-primary letter">{{x}}</li>
                        {% endfor %}
                    </ul>
                    
                    <br/><br/><br/><br/><br/><br/>
                    
                    {% for x in alphabet %}
                        <span id="{{x}}" class="anchor"></span>
                        <span style="width:50%;float:left" id="letter{{x}}" tabindex=0>{{x|upper}}</span> <span class="text-right d-none d-sm-none d-md-block" style="width:50%;float:right"><img tabindex=0 class="totopimg" style="width:15px;cursor:pointer;" src="{% static 'website/img/totop1.png' %}"/>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <table class=table>
                                {% for el in all_elements %}
                                    {% if el|make_list|first|lower == x %}
                                    <tr>
                                        <td id="{{el.identifier}}"><a id="{{el.identifier}}link" href="/metasat/{{el.identifier}}">{{el}}</a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                        </table>
                    {% endfor %}

                </div>

                <!-- familes -->
                <div class="tab-pane fade{%if gtype == 'family'%} show active{% endif %}" id="family" role="tabpanel" aria-labelledby="family-tab">
                    <div class="d-sm-block d-md-none">Browse By Family</div>
                    <br/>

                    <div class="accordion" id="accordionExample">

                        {% for key, values in famgroups.items %}
                            <div class="card">
                                <div class="card-header" id="{{key|cut:' '}}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left{% if key|cut:' ' != groupname %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{key|cut:' '}}" aria-expanded="{% if key|cut:' ' != groupname %}false{%else%}true{% endif %}" aria-controls="collapse{{key|cut:' '}}">{{key}}</button>
                                    </h2>
                                </div>

                                <div id="collapse{{key|cut:' '}}" class="collapse{% if key|cut:' ' == groupname %} show{% endif %}" aria-labelledby="{{key}}" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <table class=table>
                                            {% for v in values %}
                                                <tr>
                                                    <td id="{{v.identifier}}{{key|cut:' '}}"><a href="/metasat/{{v.identifier}}?family={{key|cut:' '}}">{{v.identifier}}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                          </div>
                         {% endfor %}

                    </div>
                    <br/><br/>
                </div>

                <!-- segments -->
                <div class="tab-pane fade{%if gtype == 'segment'%} show active{% endif %}" id="segment" role="tabpanel" aria-labelledby="segment-tab">
                    <div class="d-sm-block d-md-none">Browse by Segment</div>

                    <br/>
                    <div class="accordion" id="accordionExample">

                        {% for key, values in seggroups.items %}
                            <div class="card">
                                <div class="card-header" id="{{key|cut:' '}}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left{% if key|cut:' ' != groupname %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{key|cut:' '}}" aria-expanded="{% if key|cut:' ' != groupname %}false{%else%}true{% endif %}" aria-controls="collapse{{key|cut:' '}}">{{key}}</button>
                                    </h2>
                                </div>

                                <div id="collapse{{key|cut:' '}}" class="collapse{% if key|cut:' ' == groupname %} show{% endif %}" aria-labelledby="{{key}}" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <table class=table>
                                            {% for v in values %}
                                                <tr>
                                                    <td id="{{v.identifier}}{{key|cut:' '}}"><a href="/metasat/{{v.identifier}}?segment={{key|cut:' '}}">{{v.identifier}}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                          </div>
                         {% endfor %}

                    </div>
                    <br/><br/>

                </div>


                <!-- search -->
                <div class="tab-pane fade{%if gtype == 'search'%} show active{% endif %}" id="search" role="tabpanel" aria-labelledby="search-tab">                    
                    <div>
                        <br/>
                        <p>Search for MetaSat Concepts</p>

                        <form action="/metasat" class="form-inline" role="search">
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="hidden" name="view" value="search">
                                <label for="search-input" class="sr-only">MetaSat terms</label>
                                <input type="text" class="form-control-sm" name="lookup" placeholder="MetaSat Concept">
                            </div>
                            <button type="submit" class="btn btn-outline-light btn-secondary mb-2" style="background-color: #4e687e">Find</button>
                        </form>
                        <br/><br/>

                        
                    </div>

                </div>


                <!-- mobile up to top arrow -->
                <div style="position:fixed;bottom:50px;right:50px;z-index: 30;" class="d-sm-block d-md-none">
                    <span class="text-right" style="float:right"><img tabindex=0 class="totopimgm" style="width:40px;cursor:pointer;" src={% static 'website/img/totopm.png' %}></span>
                </div>

            </div>
            <!-- end content of tabs and pills -->
        </div>
        <!-- end sidebar -->

        <!-- website main content -->
        <div class="col-xl-9 col-lg-8 col-md-8 offset-xl-3 offset-lg-4 offset-md-4">
            <div class="mainstuff">
                <div id="content">

                <!-- if looking at a specific element.. -->
                {% if element %}

                    <p class="h1 text-break">{% if element.deprecated == True %}Deprecated: {% endif %}{{element.identifier}}</p>
                    <p class="h3 text-break">{% if element.deprecated == True %}Deprecated: {% endif %}{{element.term}}</p>
                    <p><a href="https://schema.space/metasat/{{element.identifier}}"><span class="text-break">https://schema.space/metasat/{{element.identifier}}</span></a></p>

                    {% if request.user.is_authenticated %}
                        <p><a href="edit/{{element.identifier}}">(admin edit)</a></p>
                    {% endif %}

                    {% if element.deprecated == True %}
                        <p>This element was deprecated on {{element.deprecatedon}}.</p>
                            {% if element.mapping.all %}
                                <p>Use Instead:
                                {% for f in element.mapping.all %}<a href="/metasat/{{f.identifier}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                </p>
                            {% endif %}
                        <br/>
                        <p class="h3">Legacy information</p>

                    {% endif %}

                    <p><strong>Description:</strong> {% if element.desc == ""%}None{% else %}{{element.desc}}{% endif %}{% if element.source != None %} (<a href="{{element.source}}">source</a>){% endif %}</p>
                    <p><strong>Example:</strong> {% if element.example == ""%}None{% else %}{{element.example}}{% endif %}</p>
                    <p><strong>Synonym(s):</strong> {% if element.synonym == ""%}None{% else %}{{element.synonym}}{% endif %}</p>
                    <p><strong>Concept Segments:</strong>  {% for f in element.segment.all %}<a href="/metasat/{{element.identifier}}?segment={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <p><strong>Concept Families:</strong>  {% for f in element.family.all %}<a href="/metasat/{{element.identifier}}?family={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

                    <p><a href="mailto:metasat@schema.space?subject=suggestion: {{element.identifier}}">suggest an edit</a></p>

                    {% if crosswalks %}
                        <br/><br/>
                        <p class="h3">Crosswalk Identifiers</p>
                        <div class="table-responsive">
                            <table class=table>
                                {% for x in crosswalks %}
                                <tr>
                                    <td><a href="/crosswalk/{{x.source.identifier}}">{{x.source}}</a></td>
                                    <td>{% if x.url != None %}<a href="{{x.url}}"><span class="text-break">{{x.identifier}}</span></a>{% else %}{{x.identifier}}{% endif %}</a></td></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}

                <!-- if looking up an element -->
                {% elif lookup %}
                    <p class="h1">MetaSat Search Results</p>
                    <div>
                        
                        <br/>
                        <p><strong>Search Query: {{lookup}}</strong></p>

                        {% if results %}
                            <p><strong>Search Results:</strong></p>
                            {% for x in results %}
                                <p>
                                    <strong><a href="/metasat/{{x.identifier}}">{{x.term|safe}}</a></strong>
                                    {% if x.synonym %}
                                        <br/><i>Synonyms</i>: {{x.synonym|safe}}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        
                        {% else %}
                            <p><strong>No search results found</strong></p>
                        {% endif %}

                    </div>

                <!-- otherwise, default main content -->
                {% else %}

                    {% if known == "no" %}
                        <p class="h1">Unknown MetaSat Concept</p>
                        <p class="h3">Concept "{{element}}" does not exist</p>

                    {% elif element == "noelement" %}
                        <p class="h1">MetaSat Concepts</p>
                    {%else %}

                    {% endif %}
                    
                    <p class="h1">MetaSat Concepts</p>

                    <br/><p class="h4">Alphabetical Index</p>

                    <p>The full list of MetaSat concepts (i.e., "terms") can be viewed alphabetically via the Index view, or organized into two different types of groups: the concept families or the concept mission segments.</p>

                    <br/><p class="h4">Families View</p>

                    <p>A concept family is a collection of conceptually related MetaSat concepts (i.e., "terms"). These concepts do not have any hierarchical structure and are instead collections or groupings of related concepts.</p>

                    

                    <br/><p class="h4">Segments View</p>

                    <p>A mission segment represents concepts related to a specific phase of a space mission. MetaSat concepts in these segments do not have any hierarchical structure, they are simply collected into groupings of concepts based on when or where they are relevant to an overall mission.</p>

                    <br/><p class="h4">Search MetaSat Concepts</p>
                    <p>The search option allows for searching across all concepts and synonyms.</p>

                {% endif %}
                </div>
            </div>
            <!-- end mainstuff -->

            {% include "website/footer.html" %}

        </div>
    </div>
</div>

<!-- some javascript relies on variables from django -->
<script>
    localStorage.setItem('currentTab', '{{gtype}}');
    localStorage.setItem('currentElement', '{{element}}');

    {% if element.deprecated == False %}

        $("#{{element.identifier}}").get(0).scrollIntoView();

        $("#{{element.identifier}}").css("background-color","lightgrey");

        $("#{{element.identifier}}").append('<span class="text-right d-none d-sm-none d-md-block" style="float:right"><img tabindex=0 class="totopimg" style="width:15px;cursor:pointer;" src={% static "website/img/totop1.png" %}></span>');

    {% endif %}

</script>
<script src="{% static 'website/js/metasat.js' %}"></script>

{% endblock %}