{% extends "website/base.html" %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block description %}{{element.term}}: {{element.desc}}{% endblock %}

{% block title %}{{element.identifier}} | MetaSat{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-12"><br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img width="100%" src="{% static 'website/img/MetaSat_Big.png' %}"/>
        </div>
        <div class="col-1">
        </div>
        <div class="col-8" id="content">
            <h1>{{element.identifier}}</h1>
            <h3>{{element.term}}</h3>
            <a href="https://schema.space/metasat/{{element.identifier}}">https://schema.space/metasat/{{element.identifier}}</a>
            <br/>
            <br/>
            <b>Description:</b> {% if element.desc == ""%}None{% else %}{{element.desc}}{% endif %}{% if element.source != None %} (<a href="{{element.source}}">source</a>){% endif %}
            <br/><br/>
            <b>Example:</b> {% if element.example == ""%}None{% else %}{{element.example}}{% endif %}<br/><br/>
            <b>Synonym(s):</b> {% if element.synonym == ""%}None{% else %}{{element.synonym}}{% endif %}<br/><br/>
            <b>Element Segments:</b>  {% for f in element.segment.all %}{{ f }}{% if not forloop.last %}, {% endif %}{% endfor %}<br/><br/>
            <b>Element Families:</b>  {% for f in element.family.all %}{{ f }}{% if not forloop.last %}, {% endif %}{% endfor %}
            

            {% if crosswalks %}
            <br/><br/><br/><br/>
            <h3>Crosswalk Identifiers</h3>
            <table class=table>
<!--                 <tr>
                    <th>External Source</th>
                    <th>External Name</th>
                    <th>External Identifier</th>
                    <th>Relationship</th>
                </tr> -->
                {% for x in crosswalks %}
                <tr>
                    <td>{{x.source}}</td>
                    <!-- <td><a href="{{x.url}}">{{x.label}}</a></td> -->
                    <td><a href="{{x.url}}">{{x.identifier}}</a></td></td>
                    <!-- <td>{{x.relationship}}</td> -->
                </tr>
                {% endfor %}
            </table>
            {% endif %}

<!--             <br/><br/><br/>
            <a href="/metasat">Full MetaSat Elements List</a> -->
<!--             <br/><br/>
            <a href="/metasat/families">Element Families List</a> -->
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div id="footer">
              <div class="container text-center">
                <br/><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}