{% extends "website/base.html" %}
{% load static %}

{% block nav-elements %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Elements | MetaSat
{% endblock %}

{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" id="rel">
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script> 

    <div class="container-fluid">
        <div class="row">
            
            <div class="col-3 sidebar">

                 <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="alpha-tab"  href="/metasat" tabindex=0 role="tab" aria-controls="alpha" aria-selected="true">Alphabetical</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="family-tab" href="/metasat?view=family" role="tab" aria-controls="family" aria-selected="false">Families</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="segment-tab" href="/metasat?view=segment" role="tab" aria-controls="segment" aria-selected="false">Segments</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="segment" role="tabpanel" aria-labelledby="segment-tab">
                        <br/>

                        <div class="accordion" id="accordionExample">

                            {% for key, values in segs.items %}
                              <div class="card">
                                <div class="card-header" id="{{key|cut:' '}}">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left{% if key|cut:' ' != segment|cut:' ' %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{key|cut:' '}}" aria-expanded="{% if key|cut:' ' != segment|cut:' ' %}false{%else%}true{% endif %}" aria-controls="collapse{{key|cut:' '}}">
                                      {{key}}
                                    </button>
                                  </h2>
                                </div>

                                <div id="collapse{{key|cut:' '}}" class="collapse{% if key|cut:' ' == segment|cut:' ' %} show{% endif %}" aria-labelledby="{{key}}" data-parent="#accordionExample">
                                  <div class="card-body">
                                        <table class=table>
                                            {% for v in values %}
                                                <tr>
                                                    <td id="{{v.identifier}}{{key|cut:' '}}"><a href="/metasat/{{v.identifier}}?segment={{key|cut:' '}}">{{v.identifier}}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                  </div>
                                </div>
                              </div>
                             {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 offset-3 sidebar">

                {% if element %}

                    <div id="content">
                        <h1>{{element.identifier}}</h1>
                        <h3>{{element.term}}</h3>
                        <a href="https://schema.space/metasat/{{element.identifier}}">https://schema.space/metasat/{{element.identifier}}</a>

                        {% if request.user.is_authenticated %}
                            <br/>
                            <a href="edit/{{element.identifier}}">(admin edit)</a>
                        {% endif %}

                        <br/><br/>
                        <strong>Description:</strong> {% if element.desc == ""%}None{% else %}{{element.desc}}{% endif %}{% if element.source != None %} (<a href="{{element.source}}">source</a>){% endif %}
                        <br/><br/>
                        <strong>Example:</strong> {% if element.example == ""%}None{% else %}{{element.example}}{% endif %}<br/><br/>
                        <strong>Synonym(s):</strong> {% if element.synonym == ""%}None{% else %}{{element.synonym}}{% endif %}<br/><br/>
                        <strong>Element Segments:</strong>  {% for f in element.segment.all %}<a href="/metasat/{{element.identifier}}?segment={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/><br/>
                        <strong>Element Families:</strong>  {% for f in element.family.all %}<a href="/metasat/{{element.identifier}}?family={{f|cut:' '}}">{{ f }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}

                        <br/><br/>
                        <a href="mailto:metasat@schema.space?subject=suggestion: {{element.identifier}}">suggest an edit</a>

                        {% if crosswalks %}
                            <br/><br/><br/><br/>
                            <h3>Crosswalk Identifiers</h3>
                            <table class=table>
                                {% for x in crosswalks %}
                                <tr>
                                    <td>{{x.source}}</td>
                                    <td>{% if x.url != None %}<a href="{{x.url}}">{{x.identifier}}</a>{% else %}{{x.identifier}}{% endif %}</a></td></td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                    {% else %}

                        <div id="content">
                            <h1>MetaSat Elements, by Segment</h1>
                        </div>

                    {% endif%}

                </div>
            </div>
        </div>
    </div>

{% if element %}

<script>

$(document).ready(function(){

    console.log("{{element.identifier}}{{segment}}");
    
    $("#{{element.identifier}}{{segment}}").get(0).scrollIntoView();

    $("#{{element.identifier}}{{segment}}").css("background-color","lightgrey");

     $("#{{element.identifier}}{{segment}}").append('<span class="text-right" style="float:right"><img tabindex=0 class="totopimg" style="width:15px;cursor:pointer;" src={% static "website/img/totop1.png" %}/></span>');

    $(".totopimg").on("keyup", function(){
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("{{segment}}").scrollIntoView(true);
            $("#alpha-tab").focus();
        }
    });

    $(".totopimg").on("click", function(){
        event.preventDefault();
        document.getElementById("{{segment}}").scrollIntoView(true);
    });



});

</script>

{% endif %}


{% endblock %}