{% extends "website/base.html" %}
{% load static %}

{% block nav-crosswalk %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Crosswalk | MetaSat
{% endblock %}

{% block body %}

<div class="container">
    <div background-color="white" class="row">
        <div class="col-2">
            <br/>&nbsp;<br/>&nbsp;
            <img class="img-fluid" src="{% static 'website/img/MetaSat_Big.png' %}"/>
        </div>
    
        <div class="col-1">
        </div>

        <div class="col-9">
            <br/>&nbsp;<br/>&nbsp;

                <h1>{{crosswalk}}</h1>

                <br/><br/>
                <table class=table>
                    <tr>
                        <th>MetaSat Element</th>
                        <th>External Identifier</th>
                    </tr>
                    {% for term in terms %}
                    <tr>
                        <td><a href="/metasat/{{term.metasat_element}}">{{term.metasat_element}}</a></td>
                        <td>{% if term.url != None %}<a href="{{term.url}}">{{term.identifier}}</a>{% else %}{{term.identifier}}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div id="footer">
              <div class="container text-center">
                <br/><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}