{% extends "website/base.html" %}
{% load static %}

{% block nav-crosswalk %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Crosswalks | MetaSat
{% endblock %}

{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" id="rel">
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script> 


    <div class="container-fluid">

        <div class="row">
            
            <div class="col-3 sidebar">

                     <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="cwalk-tab"  href="/crosswalk" tabindex=0 role="tab" aria-controls="cwalk" aria-selected="true">Crosswalk</a>
                        </li>
                    </ul>
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="cwalk" role="tabpanel" aria-labelledby="cwalk-tab">
                        <br/>
                        <table class=table>
                            {% for walk in allcrosswalks %}
                            <tr>
                                <td><a href="/crosswalk/{{walk.identifier}}">{{walk.name}}</a></td>
                            </tr>
                            {% endfor %}
                        </table>


                </div>
                </div>


            </div>

            <div class="col-9 offset-3 sidebar">

                {% if crosswalk %}

                    <div id="content">
                        <h1>{{crosswalk}}</h1>

                        <br/><br/>
                        <table class=table>
                            <tr>
                                <th>MetaSat Element</th>
                                <th>External Identifier</th>
                            </tr>
                            {% for term in terms %}
                            {% if term.metasatelement.deprecated == False %}
                            <tr>
                                <td><a href="/metasat/{{term.metasat_element}}">{{term.metasatelement}}</a></td>
                                <td>{% if term.url != None %}<a href="{{term.url}}">{{term.identifier}}</a>{% else %}{{term.identifier}}{% endif %}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>

                        <!-- <table class=table>
                            <tr>
                                <th>MetaSat Element</th>
                                <th>External Identifier</th>
                            </tr>
                            {% for term in walkterms %}
                              <tr>
                                <td><a href="/metasat/{{term.element}}">{{term.element}}</a></td>
                                <td>{% if term.url != None %}<a href="{{term.url}}">{{term.id}}</a>{% else %}{{term.id}}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </table> -->

                    {% else %}

                        <div id="content">
                            <h1>MetaSat Crosswalks</h1>
                        </div>
                        
                    {% endif%}

                </div>
            </div>
        </div>
    </div>
<script>

$(document).ready(function(){

/* when document load, getElement byID (conceptname) scrollintoview true */

    $(".letter").on("keyup", function(){
        if (event.keyCode === 13) {
            thisletter = event.target.innerHTML;
            event.preventDefault();
            document.getElementById(thisletter).scrollIntoView(true);
            $("#letter"+thisletter).focus();
        }
    });


    $(".letter").on("click", function(){
        thisletter = event.target.innerHTML;
        event.preventDefault();
        document.getElementById(thisletter).scrollIntoView(true);
    });


    $(".totopimg").on("keyup", function(){
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("alpha-tab").scrollIntoView(true);
            console.log("this working?");
            $("#alpha-tab").focus();
        }
    });


    $(".totopimg").on("click", function(){
        event.preventDefault();
        document.getElementById("alpha-tab").scrollIntoView(true);
    });


});

</script>

{% endblock %}














