{% extends "website/base.html" %}
{% load static %}

{% block nav-crosswalk %}active{% endblock %}

{% block customcss %}<link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    Crosswalks | MetaSat
{% endblock %}

{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" id="rel">
    <script src="{% static 'website/js/metasat_autocomplete.js' %}"></script> 

<!-- non mobile -->

    <div class="container-fluid d-none d-sm-none d-md-block">
        <div class="topspacing"></div>        
        <div class="row">
            
            <div class="col-3 newsidebar">

                 <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="cwalk-tab"  href="/crosswalk" tabindex=0 role="tab" aria-controls="cwalk" aria-selected="true">Crosswalk</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="cwalk" role="tabpanel" aria-labelledby="cwalk-tab">
                        <br/>
                        <table class=table>
                            {% for walk in allcrosswalks %}
                            <tr>
                                <td><a href="/crosswalk/{{walk.identifier}}"><span lang="{{walk.lang}}">{{walk.name}}</span></a></td>
                            </tr>
                            {% endfor %}
                        </table>


                    </div>
                </div>
            </div>

            <div class="col-9 offset-3">
                <div class="mainstuff">

                    {% if crosswalk %}

                        <div id="content">
                            <h1><span lang="{{language}}">{{crosswalk}}</span></h1>

                            <br/><p>{{desc|safe}}</p><br/>
                            <table class=table>
                                <tr>
                                    <th>MetaSat Concept</th>
                                    <th>External Identifier</th>
                                </tr>
                                {% for term in terms %}
                                <tr>
                                    <td><a href="/metasat/{{term.metasatelement}}">{{term.metasatelement}}</a></td>
                                    <td>{% if term.url != None %}<a href="{{term.url}}">{{term.identifier}}</a>{% else %}{{term.identifier}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                    {% else %}

                        <div id="content">
                            <h1>MetaSat Crosswalks</h1>
                        </div>
                        <div>
                            <br/><br/>
                            A metadata crosswalk is a set of instructions for converting metadata of one schema or vocabulary into another. We are working on making conversions between MetaSat and different vocabularies even easier by building a full MetaSat Crosswalk. The list of vocabularies we have developed crosswalks for is on the left, including schema.org, WikiData Items, and many more.
                        </div>
                        
                    {% endif %}
                </div>
                <!-- end mainstuff -->
                {% include "website/footer.html" %}
            </div>
        </div>

    </div>
    <!-- end non-mobile -->

    <!--  mobile -->
    <div class="container d-sm-block d-md-none">
        <div class="topspacing"></div>
        <div class="row">
            <div class="col-12 content">

                {% if crosswalk %}

                    <h1><span lang="{{language}}">{{crosswalk}} Crosswalk</span></h1>
                    <br/>
                    <p>{{desc|safe}}</p>
                    <p><a href="/crosswalk">Back to All Crosswalks</a></p>

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>MetaSat Concept</th>
                                <th>External Identifier</th>
                            </tr>
                            {% for term in terms %}
                            <tr>
                                <td><a href="/metasat/{{term.metasatelement}}">{{term.metasatelement}}</a></td>
                                <td>{% if term.url != None %}<a href="{{term.url}}">{{term.identifier}}</a>{% else %}{{term.identifier}}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                {% else %}

                    <h1>MetaSat Crosswalks</h1>
                    <br/>
                    A metadata crosswalk is a set of instructions for converting metadata of one schema or vocabulary into another. We are working on making conversions between MetaSat and different vocabularies even easier by building a full MetaSat Crosswalk. The list of vocabularies we have developed crosswalks for is on the left, including schema.org, WikiData Items, and many more
                    <br/><br/>

                    All Crosswalks <br/><br/>
                    <div class="table-responsive">
                        <table class="table">
                            {% for walk in allcrosswalks %}
                            <tr>
                                <td><a href="/crosswalk/{{walk.identifier}}"><span lang="{{walk.lang}}">{{walk.name}}</span></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}

            </div>

            {% include "website/footer.html" %}
        </div>
    </div>
    <!-- end mobile -->

{% endblock %}