body {
     background-color: #FFFFFFFF;
     text-align: left;
     margin-right: 5%;
     margin-left: 5%;
     margin-top: 2%;
     margin-bottom: 10%;
}

code { /*Right now this is taken from https://www.w3schools.com/tags/tag_code.asp; will change eventually probably*/
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }

.panel-heading {
  background-color: #014e6d!important;
}

.panel-button a {
    color: white !important;
}

.panel-button {
    font-weight: bold;
    font-size: 20px;
    color: #fff !important; 
/*    text-decoration: underline;*/
text-decoration: none;
}

.panel-button:hover {
    font-weight: bold;
    font-size: 20px;
    color: #fff !important; 
/*    text-decoration: underline;*/
text-decoration: none;
}