body {
     background-color: #FFFFFFFF;
     text-align: left;
     overflow-x: hidden;
}

code { /*Right now this is taken from https://www.w3schools.com/tags/tag_code.asp; will change eventually probably*/
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }

.panel-heading {
  background-color: #014e6d!important;
}

.panel-button a {
    color: white !important;
}

.panel-button {
    font-weight: bold;
    font-size: 20px;
    color: #fff !important; 
/*    text-decoration: underline;*/
text-decoration: none;
}

.panel-button:hover {
    font-weight: bold;
    font-size: 20px;
    color: #fff !important; 
/*    text-decoration: underline;*/
    text-decoration: none;
}


div .topmenu {
  background-color: white;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

div.sidebar {
    margin-top: 130px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #fff;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 4;
}

div.sidebar2 {
    margin-top: 130px;
    z-index: 6;
}