@media (min-width: 1190px){

    div.sidebar {
        margin-top: 130px;
        padding-right: 40px;
        padding-left: 40px;
        position:fixed;
        background-color: white;
        max-height: calc(100vh - 210px);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 8;
    }

    div.smallscreen {
        display:none !important;
    }
}

@media (max-width: 1189px){

    div.sidebar {
        margin-top: 85px;
        padding-right: 40px;
        padding-left: 40px;
        /*position:fixed;*/
        background-color: orange;
        max-height: calc(100vh - 210px);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 8;
    }

    div.largescreen {
        display:none !important;
    }
}


body {
     background-color: #FFFFFFFF;
     text-align: left;
     overflow-x: hidden;
}

code { /*Right now this is taken from https://www.w3schools.com/tags/tag_code.asp*/
    font-family: Consolas,"courier new";
    color: crimson;
    /*background-color: #f1f1f1;*/
    padding: 2px;
    font-size: 105%;
  }

pre {
    background-color: #444444;
    color: #cccccc;
    width: 80%;
    overflow-x: scroll;
}

.panel-heading {
  background-color: #014e6d!important;
}

.panel-button a {
    color: white !important;
}

.panel-button {
    font-weight: bold;
    font-size: 20px;
    color: #fff !important; 
/*    text-decoration: underline;*/
text-decoration: none;
}

.panel-button:hover {
    font-weight: bold;
    font-size: 20px;
    color: #fff !important; 
/*    text-decoration: underline;*/
    text-decoration: none;
}


div .topmenu {
  background-color: white;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}



div.sidebar2 {
    margin-top: 130px;
    z-index: 6;
}

.subject {
    color: #EE442F;
    font: bold;
}

.predicate {
    color: #601A4A;
    font: italic;
}

.object {
    color: #63ACBE;
    font: bold italic;
}

table#basic-table {
    border-collapse: collapse;
}

table#basic-table, th.basic-header, td.basic-data {
    border: 1px solid black;
}

th.basic-header, td.basic-data {
    padding: 10px;
}
